/* HERO */
.home-hero {
  /*margin-top: -45px;*/
  /*border: 1px solid blue;*/
  width: 100%;
  overflow: hidden;
  /*margin-top: 0 !important;*/
  /*padding-top: 0 !important;*/
  /*margin-top: 0.5px;*/
  padding-top: 5px;
  background: linear-gradient( /*degradê*/
    180deg,
    #0f1720 0%, /*topo escuro*/
    #1f2937 40%, /*cinza escuro*/
    #334155 70%, /*cinza medio*/
    #f1f5f9 100% /*quase branco no final*/
  );
}

/* Carousel precisa herdar altura */
.home-hero .carousel,
.home-hero .carousel-inner{ /*RETIRANDO .home-hero .carousel-item DAQUI e COLOCANDO SOZINHO*/
  height: 100%;
}

.hero-image{
  width: 100%;
  height: auto;
  display: block;
}

.carousel-item{
  position: relative;
}

/* Indicadores como bolinhas */
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  opacity: 1;
}

/* Indicador ativo */
.carousel-indicators .active {
  background-color: #000;
}

/*.home-hero .carousel-item{
  height: 60vh;
  min-height: 360px;
}*/




/*SLIDE*/
/*.hero-slide {
  min-height: 310px;
  /*min-height: 60vh; /*altura proporcional*/
  /*min-height: clamp(400px, 60vh, 700px);*/

  /*aspect-ratio: 16/9;  /*controla proporção do banner*/

  /*height: clamp(300px, 45vh, 500px);*/ 
  
  /*height: 520px;*/
  /*display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  background-size: cover;
  /*background-size: contain;  /*Para não cortar a img do carousel*/
  /*background-position: center;
  background-repeat: no-repeat;

  /*color: #d14444;*/
  /*height: 60vh;*/
  /*min-height: 360px;*/
  /*width: 100%;
  /*height: 100%;
  
  
}*/

/*TEXTO NOS SLIDES DO CAROUSEL*/

/*.hero-slide h1 {
  /*font-size: 2.5rem;*/
  /*font-weight: bold;*/
  /*text-align: center;*/
  /*border: 1px solid green/
}

.hero-slide p {
  /*max-width: 500px;*/
  /*margin-bottom: 1.5rem;*/
  /*text-align: center;
  border: 1px solid orangered;
  
}

/*BOTAO DO SLIDE DO CAROUSEL*/
.hero-slide .btn {
  margin-top: 0.5rem;
}

.hero-content {
  max-width: 700px;
}

/* Slides */
/*.hero-slide-1 {
  /*background: linear-gradient(rgba(209, 208, 208, 0.5), rgba(233, 228, 228, 0.5)),
              url('/public/banner1.png') center/cover no-repeat;*/
  /*background: url('/banner4.jpg') center/cover no-repeat;*/
    /*background-image: url('/banner1.png');          
}*/

/*.hero-slide-1 h1{
  border: 1px solid orangered;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  color: #dc3545;
}

.hero-slide-1 p{
  text-align: center;
  border: 1px solid orange;
}*/

/*.hero-slide-2 {
  /*background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
              url('/public/banner2.png') center/cover no-repeat;*/
  /*background: url('/banner5.jpg') center/cover no-repeat;*/
  /*background-image: url('/banner2.png') ;            
}*/

/*.hero-slide-3 {
  /*background: url('/banner6.jpg') center/cover no-repeat;*/
  /*background: url('/banner6.jpg') center/cover no-repeat;*/
   /*background-image: url('/banner3.png');
}*/

/* Ajusta posição do texto do carousel */
.carousel-caption {
  bottom: 20%;
  z-index: 10;
}

/* Afasta as setas do texto */
.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

/* Opcional: melhora área de clique das setas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
}

/*HOME-BANNER*/
.home-banner{
  /*border: 1px solid red;*/
  margin-top: 4px;
  /*background-image: url(/banner11.png);*/  /*APARECE A IMAGEM*/
  /*background: #40ac49;*/
  /*background-size: cover;*/
  /*background-position: center;*/
  /*background-repeat: no-repeat;*/

  border-radius: 10px;
}

.banner-content{
  background-image: url('/banner000.png');
  /*background: #40ac49;*/
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;

  border-radius: 10px;

  padding: 10px;

  display: flex;
  min-height: 260px;
  /*border: 1px solid rgb(194, 25, 25);*/
  align-items: center;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.banner-text{
  max-width: 420px;
}

.texto-mobile{
  display: none;
}


/*HOME-CATEGORIAS*/
.home-categorias{
  /*border: 1px solid green;*/
  margin-top: 10px;
}

.cartao-categoria{
  /*border: 1px solid red;*/
  /*background-color: blueviolet;*/
  background-image: url(/produtosMaga.png);
  
  border-radius: 10px;

  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;

  aspect-ratio: 16/9;   /* controla a proporção do card */
}



.cartao-categoria2{
  background-image: url(/mensagemMaga.png);

  border-radius: 10px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  aspect-ratio: 16/9;   /* controla a proporção do card */
}

.cartao-categoria3{
  background-image: url(/cartaoMaga.png);

  border-radius: 10px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  aspect-ratio: 16/9;   /* controla a proporção do card */
}
/*SECTION MAIS VENDIDOS*/
.vitrine-scroll{
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.vitrine-scroll::-webkit-scrollbar{
  height: 6px;
}

.product-card{
  min-width: 200px;
  max-width: 200px;
  flex: 0 0 auto;

  border-radius: 10px;
}

.product-img{
  width: 100%;
  height: 140px;
  object-fit: contain;
}


.cartao-imagem{
  width: 100%;
  height: 160px;
  object-fit: cover;
}

/* Cards */
.category-card:hover,
.product-card:hover {
  transform: translateY(-4px);
  transition: 0.3s ease;
}


/* OFERTAS */
.ofertas-section {
  background: #fff5f5;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin-bottom: 2rem;*/
  gap: 1rem;
  flex-wrap: wrap;
}

.section-header h2 {
  margin: 0;
  line-height: 1.2;
}

.ver-todas {
  text-decoration: none;
  font-weight: 500;
  color: #dc3545;
}

.ver-todas:hover {
  text-decoration: underline;
}

/* Card de oferta */
.oferta-card {
  border: 1px solid #f1c0c0;
  transition: transform 0.3s ease;
}

.oferta-card:hover {
  transform: translateY(-5px);
}

.precos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.preco-antigo {
  text-decoration: line-through;
  color: #999;
  font-size: 0.9rem;
}

.preco-novo {
  color: #dc3545;
  font-size: 1.2rem;
  font-weight: bold;
}

/* TÍTULOS DOS PRODUTOS */
.card-title {
  font-size: 1.3rem;
  line-height: 1.3;
  min-height: 2.6em; /* força altura igual */
  overflow: hidden;
  word-break: break-word;
}


/* RESPONSIVO - TABLET */
@media (max-width: 992px) {
  .section-header {
    /*flex-direction: column;*/
    align-items: flex-start;
    /*gap: 10px;*/
  }

  .hero h1 {
    font-size: 2rem;
  }
/*}*/

  .ver-todas{
    align-self: flex-start;
}

  /*.hero-slide{
    height: 55vh;
  }*/
}

/* RESPONSIVO - MOBILE */
@media (max-width: 768px) {
  .hero-slide {
    /*min-height: 50vh;*/
    /*aspect-ratio: 4/55;*/
    background-position: center;
  }

  .banner-content{
    background-position: center right;  /*background-position: center;*/
    background-size: cover;  /*background-size: contain*/
    min-height: 320px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: relative;
    overflow: hidden;
  }

  /* overlay */
  .banner-content::before{
    content: "";
    position: absolute;
    inset: 0;

    background: linear-gradient(
      90deg,
      rgba(255,255,255,0.95) 35%,
      rgba(255,255,255,0.6) 55%,
      rgba(255,255,255,0) 75%
    );

    z-index: 1;
  }

  .banner-text{
    max-width: 100%;
    position: relative;
    z-index: 2;
  }

  .banner-text h2{
    color: rgb(18, 204, 133);
  }

  .texto-desktop{
    display: none;
  }

  .texto-mobile{
    display: block;
  }

}



/* RESPONSIVO - MOBILE */
@media (max-width: 576px) {
  .hero {
    height: auto;
    padding: 3rem 1.5rem;
  }

  .hero h1 {
    font-size: 1.7rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero-slide{
    /*height: 32vh;*/
    /*min-height: 240px;*/
    min-height: 45vh;
    /*background-position: top;*/
    background-position: top center;
  }

  .carousel-indicators{
    bottom: -18px;
  }
}