/*Mega-menu*/
.mega-menu .dropdown-menu {
  width: 100vw;
  left: 0;
  right: 0;
  margin-top: 0;
  border-radius: 0;
}

/* Busca */
.header-search input {
  min-width: 250px;
}

/* Ícones */
.header-icons a {
  color: white;
}

/*Hover no desktop*/
@media (min-width: 992px) {
  .mega-menu:hover .dropdown-menu {
    display: block;
  }
}

/* Botão Categorias */
.categorias-title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

/* Seta */
.dropdown-arrow {
  font-size: 0.75rem;
  opacity: 0.8;
}

/* Remove seta padrão do Bootstrap */
#categorias-dropdown::after {
  display: none;
}

