/*Mega-menu*/
.mega-menu .dropdown-menu {
  width: 100vw;
  left: 0;
  right: 0;
  margin-top: 0;
  border-radius: 0;
}
/*Hover no desktop*/
@media (min-width: 992px) {
  .mega-menu:hover .dropdown-menu {
    display: block;
  }
}
