/*Mega-menu*/
/*.mega-menu{
  position: static;
}
.mega-menu .dropdown-menu {*/
  /*width: 100vw;*/
  /*position: absolute;
  width: 100%;  
  /*min-width: 100%;*/
  /*left: 0;
  right: 0;
  margin-top: 0;
  border-radius: 0;
  top: 100%;
  padding: 0;
  background-color: #353c42;
}

.mega-menu-wrapper{
  position: relative;
}

/*Conteudo interno*/
/*.mega-menu-content{
  /*max-width: 1200px;*/
  /*max-width: 1050px;
  margin: 0 auto;
  /*padding: 2rem 1rem;*/
  /*padding: 1.5rem 1rem;
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/*Titulos*/
/*.mega-menu h6{
  color: #fff;
  margin-bottom: 1rem;
}

/*Links*/
/*.mega-menu .dropdown-item{
  color: #ccc;
  padding: 0.25rem 0;
}
.mega-menu .dropdown-item:hover{
  background: none;
  color: #fff;
  text-decoration: underline;
}

/* Busca */
/*.header-search input {
  min-width: 250px;
}

/* Ícones */
/*.header-icons a {
  color: white;
}

/*Hover no desktop*/
/*@media (min-width: 992px) {
  .mega-menu:hover .dropdown-menu {
    display: block;
  }
}
/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/
/* Botão Categorias */
/*.categorias-title {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

/* Seta */
/*.dropdown-arrow {
  font-size: 0.75rem;
  opacity: 0.8;
}

/* Remove seta padrão do Bootstrap */
/*#categorias-dropdown::after {
  display: none;
}


.navbar{
  overflow: visible;
}*/

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

/*
.mega-menu {
  position: static;
}

.mega-menu .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
  margin: 0;
  border-radius: 0;
  padding: 0;
  background: #353c42;
}

.mega-menu-content {
  max-width: 1050px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.mega-menu h6 {
  color: #fff;
  margin-bottom: 1rem;
}

.mega-menu .dropdown-item {
  color: #ccc;
}

.mega-menu .dropdown-item:hover {
  background: none;
  color: #fff;
  text-decoration: underline;
}

#categorias-dropdown::after {
  display: none;
}

.navbar {
  overflow: visible;
}
*/


.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  /*right: 0;*/
  /*transform: translate(-50%);*/
  width: 100vw;
  background: #243441;
  z-index: 1000;
  max-width: 1200px;
  border-radius: 0 0 6px 6px;
}

.mega-menu-content {
  max-width: 1050px;
  margin: auto;
  padding: 1rem 1rem;
}

.mega-menu h6 {
  color: #fff;
  margin-bottom: 1rem;
}

.mega-menu .dropdown-item {
  display: block;
  color: #ccc;
  padding: 4px 0;
  text-decoration: none;
}

.mega-menu .dropdown-item:hover {
  color: #fff;
  text-decoration: underline;
}

.categorias-title {
  cursor: pointer;
}
